.Room-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 70%;
  margin: 50px auto 0 auto;
}

@media screen and (max-width: 1700px) {
  .Room-container {
    flex-flow: column nowrap;
  }
}

@media screen and (max-width: 900px) {
  .Room-container {
    max-width: 90% !important;
    margin: 20px auto 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .Room-container{
    max-width: 100% !important;
  }
}