.Dialog-settings--content-container {
  min-height: 300px;
}

.Dialog-settings-tabs > div > div {
  overflow-x: hidden !important;
}

.SettingsDialog--tab-current-code {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.Dialog-settings--actions-message{
  padding-left: 8px;
  width: 100%;
  color: #8f8f8f;
  font-style: italic;
}