.SchedToday--title{
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Quicksand', 'Roboto', sans-serif;
}

.SchedToday--wrapper{
  max-width: 500px;
  min-height: fit-content;
  height: fit-content;
}

.SchedToday--container{
  display: grid;
  grid-row-gap: 15px;
  flex-basis: 100%;
  margin: 0;
  margin-top: 20px;
  position: absolute;
  max-width: 500px;
  width: 100%;
}

.SchedToday--line-container{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  justify-self: center;
}

.SchedToday--line{
  background-color: #555555;
  border-radius: 20px;
  width: 4px;
  height: calc(100% + 10px);
  margin: -5px 0;
}

.SchedToday--item-container{
  display: grid;
  grid-template-columns: 85px 50px 1fr;
  grid-row-gap: 15px;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 5px;
  margin: 5px;
}

.SchedToday--item-container-current{
  border: 5px solid rgba(204, 0, 51, 0.6) !important;
  background-color: rgba(204, 0, 51, 0.1) !important;
  border-radius: 5px;
  margin: 0 !important;
}

.SchedToday--item-container-current-circle{
  border: 5px solid rgba(204, 0, 51, 0.6) !important;
  background-color: rgba(51, 30, 36, 1) !important;
  border-radius: 5px;
  margin: 0 !important;
}

.SchedToday--item-time{
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 5px 0 5px 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font: .9em;
}


.SchedToday--item-time-start, .SchedToday--item-time-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.SchedToday--item-start-period, .SchedToday--item-end-period{
  color: #555555;
}

.SchedToday--item-start-time, .SchedToday--item-end-time{
  font-weight: bold;
  text-align: right;
}

.SchedToday--item-circle-container{
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  align-self: center;
}

.SchedToday--item-circle{
  justify-self: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgba(85, 85, 85, 1);
  background-color: #222222;
}

.SchedToday--item-details{
  grid-column-start: 3;
  grid-column-end: 4;
}

.SchedToday--item-details-subject{
  font-size: 1.5em;
  font-family: 'Quicksand', 'Roboto', sans-serif;
  font-weight: bold;
}

.SchedToday--item-details-class-teacher{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: .9em;
}

.SchedToday--item-details-room{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: .9em;
}

.SchedToday--item-details-icon{
  font-size: 1.1em !important;
  margin-right: 5px;
}

@media screen and (max-width: 900px) {
  .SchedToday--container{
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 800px) {
  .SchedToday--title{
    margin-left: 20px;
  }
}