.Onboarding-dialog--step-2-container{
  max-height: 600px;
  width: 500px;
}

@media screen and (max-width: 960px) {
  .Onboarding-dialog--step-2-container{
    max-height: 100%;
    width: 100%;
  }
}