.Home-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 50px;
}

.Home-list-container{
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: 20px;
  text-align: left;
  display: flex;
  flex-flow: column;
}

.Home-list-container--subtext{

}

@media screen and (max-width: 1200px) {
  .Home-container {
    flex-flow: row wrap;
    justify-content: left;
  }

  .Home-list-container{
    max-width: calc(50% - 40px);
    margin: 20px;
  }
}

@media screen and (max-width: 900px) {
  .Home-list-container{
    max-width: 100%;
  }
}