.App {
  margin-bottom: 60px;
}

.App > div > div > section {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
}

.App-header {
  background-color: #CC0033;
  height: 64px;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 16px;
  align-items: center;
}

.App-header-logo {
  width: 42px;
  visibility: visible
}

.spacer-horizontal {
  flex-grow: 1;
}

.App-header-searchbar-container{
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: white;
  color: black;
  margin: 0 -48px;
  padding: 0 16px;
  flex-flow: row nowrap;
  align-items: center;
}

.App-header-searchbar-input{
  margin-left: 32px !important;
  width: 100%;
  border: none;
  font-size: 1.5em;
}

.App-header-searchbar-input:focus { outline: none; }

.App-settings-container{
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 30;
}

.App-settings-container > button:first-child{
  margin-right: 10px;
}

a{
  color: inherit;
  text-decoration-line: none;
}

.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 150ms ease-in-out 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
