.Search--results-container{
  display: flex;
  flex-flow: column nowrap;
  max-width: 600px;
  margin: 0 auto 0 auto;
}

.Search--filters-container{
  width: calc(100% - 32px);
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 16px;
  background-color: #e2e2e2;
}

.Search--filters-chip{
  margin-right: 16px;
}

.Search--class-item-container, .Search--teacher-item-container, .Search--room-item-container{
  padding: 20px 10px;
  border-bottom: 1px solid #555555;
}